$background: #EEEEEE;
//$background: #2F373E;
$black: #000;
$page-background: white;
$grey: #5D6B78;
$light-grey: #F7F5F5;
$mid-light-grey: #D1D3D2;
$mid-grey: #808285;
$mid-dark-grey: #3A434A;
$dark-grey: #2F373E;
$bright-blue: #57C1E8;
$dark-blue: #353F5B;
$white: white;
$orange: #F2784B;
